<ngcart-cart template-url="template/cart.html"></ngcart-cart>
<div>
    <ul>
        <li>
            <ul class="sub-icon1 list">
                <!--<h3>Recently added items(3)</h3>-->
                <div class="login_buttons text-center">
                    <div class="check_button"><a href="#!checkout" ng-click="checkOutDetails()">Check out</a></div>
                </div>
                <div class="clear"></div>
            </ul>
        </li>
    </ul>
    <div class="clear"></div>
</div>