<body>
    <!--main-->
    <h1>Crood Shopping Cart</h1>
    <div class="mini-cart">
        <a href="#"><img src="images/cart.png" alt="" /></a>
        <ul class="icon1 sub-icon1 profile_img">
            <li>
                <a class="active-icon c1" href="#">Items In Cart </a><div class="rate">3</div>
                <ul class="sub-icon1 list">
                    <h3>Recently added items(3)</h3>
                    <div class="shopping_cart">
                        <div class="cart_box">
                            <div class="message">
                                <div class="alert-close"> </div>
                                <div class="list_img"><img src="images/1.jpg" class="img-responsive" alt="" /></div>
                                <div class="list_desc">
                                    <h4><a href="#">Branded T Shirt</a></h4>1 x<span class="actual">
                                        $8.00
                                    </span>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="cart_box">
                            <div class="message1">
                                <div class="alert-close1"> </div>
                                <div class="list_img"><img src="images/2.jpg" class="img-responsive" alt="" /></div>
                                <div class="list_desc">
                                    <h4><a href="#">Mobile Headphones</a></h4>1 x<span class="actual">
                                        $4.00
                                    </span>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="cart_box1">
                            <div class="message2">
                                <div class="alert-close2"> </div>
                                <div class="list_img"><img src="images/3.jpg" class="img-responsive" alt="" /></div>
                                <div class="list_desc">
                                    <h4><a href="#">Branded Watch</a></h4>1 x<span class="actual">
                                        $14.00
                                    </span>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                    <div class="total">
                        <div class="total_left">Cart Subtotal : </div>
                        <div class="total_right">$250.00</div>
                        <div class="clear"> </div>
                    </div>
                    <div class="login_buttons">
                        <div class="check_button"><a href="#">Check out</a></div>
                    </div>
                    <div class="clear"></div>
                </ul>
            </li>
        </ul>
        <div class="clear"></div>
    </div>
    <link href="../Tests/Cart/css/style.css" rel="stylesheet" />

</body>