<head>
    <link href="../css/stars.css" rel="stylesheet" />
</head>
<body>
    <div class="row" ng-controller="categoryCtrl">
        <div class="col-md-3">
            <p class="lead">Shop Name</p>
            <div class="list-group">
                <a ng-href="#!category/{{x.CategoryId}}" class="list-group-item" ng-repeat="x in category | limitTo:30">{{x.categoryName}}</a>
            </div>
        </div>
        <div class="col-md-9">
            
            <div class="row">

                <div class="col-sm-4 col-lg-4 col-md-4" ng-repeat="x in product ">
                    <div class="thumbnail">

                        <img class="img-responsive" ng-src="{{x.product.productUrl}}" alt="{{x.product.productName}}">
                        <div class="caption">
                            <h4 class="pull-right">{{x.product.productPrice | currency}}</h4>
                            <h4>
                                <a ng-href="#!product/{{x.product.ProductId}}">{{x.product.productName}}</a>
                            </h4>
                            <p>{{x.product.productDesc}}.</p>
                        </div>
                        <div class="ratings">
                            <label class="pull-right">{{getAvg(x.product.ReviewProducts)}}</label>
                            <!--<label>{{rating}}</label>-->
                            <p>
                                <!--<span uib-rating ng-model="rating" max="10" read-only="true" on-hover="hoveringOver(rating)" on-leave="overStar = null"></span>-->
                                <!--<span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar">{{percent}}%</span>-->
                                <span class="stars">
                                    <span ng-style="{ 'width': getStars(x.product.ReviewProducts) }"></span>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <nav aria-label="Page navigation example">
                    <ul uib-pagination total-items="1000" ng-change="changePage()" ng-model="pages" max-size="10" class="pagination-sm" boundary-links="true" rotate="false"></ul>
                </nav>
            </div>
        </div>
    </div>
</body>