<head>
    <link href="../css/stars.css" rel="stylesheet" />
</head>
<body>
    <div class="row" ng-controller="homeCtrl">
        <div class="col-md-3">
            <p class="lead">Shop Name</p>
            <div class="list-group">
                <a ng-href="#!category/{{x.CategoryId}}" class="list-group-item" ng-repeat="x in category | limitTo:30">{{x.categoryName}}</a>

                <!--<a href="#" class="list-group-item">Category 2</a>
                <a href="#" class="list-group-item">{{category}}</a>-->
            </div>
        </div>
        <!--<button ng-click="setData()">Boton</button>-->
        <div class="col-xs-12 col-sm-9">
            <div style="height: 305px">
                <!--{{slides}}-->
                <div uib-carousel active="active" interval="myInterval" >
                    <div uib-slide ng-repeat="slide in slides " index="slide.id">
                        <img ng-src="{{slide.image}}" style="margin:auto;">
                        <div class="carousel-caption">
                            <h4><a ng-href="#!product/{{slide.ProductId}}">{{slide.text}}</a></h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-lg-4" ng-repeat="x in product ">
                    <div class="thumbnail">
                        <img class="img-responsive" ng-src="{{x.productUrl}}" alt="{{x.productName}}">
                        <div class="caption">
                            <h4 class="pull-right">{{x.productPrice | currency}}</h4>

                            <h4><a ng-href="#!product/{{x.ProductId}}">{{x.productName}}</a></h4>
                            <p>{{x.productDesc}}.</p>
                        </div>
                        <div class="ratings">
                            <label class="pull-right">{{getAvg(x.ReviewProducts)| number : 2}}</label>
                            <!--<label>{{rating}}</label>-->
                            <p>
                                <!--<span uib-rating ng-model="rating" max="10" read-only="true" on-hover="hoveringOver(rating)" on-leave="overStar = null"></span>-->
                                <!--<span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar">{{percent}}%</span>-->
                                <span class="stars">
                                    <span ng-style="{ 'width': getStars(x.ReviewProducts) }"></span>
                                </span>
                            </p>
                        </div>
                        <ngcart-addtocart class="pull-right" template-url="template/addtocart.html" id="{{x.ProductId}}" name="{{x.productName}}" price="{{x.productPrice}}" quantity="1" quantity-max="{{x.productStock}}" data="x" >Add to Cart</ngcart-addtocart>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <nav aria-label="Page navigation example">
                    <ul uib-pagination total-items="bigTotalItems" ng-change="changePage()" ng-model="pages" max-size="10" class="pagination-sm" boundary-links="true" rotate="false"></ul>
                </nav>
            </div>
        </div>
    </div>
</body>