<body ng-controller="productCtrl">
    <head><link href="../css/stars.css" rel="stylesheet" /></head>
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <p class="lead">Shop Name</p>
                <div class="list-group">
                    <a ng-href="#!category/{{x.CategoryId}}" class="list-group-item" ng-repeat="x in category | limitTo:30">{{x.categoryName}}</a>
                </div>
            </div>
            <div class="col-md-9">
                <div class="thumbnail">
                    <!--{{ejemplo}}
                    {{ejemplo.productUrl}}-->
                    <img  ng-src="{{productUrl}}" alt="{{productName}}" class="img-responsive">

                    <div class="caption-full">
                        <h4 class="pull-right" ng-bind="productPrice | currency"></h4>
                        <h4>
                            <h1 ng-bind="productName"></h1>
                        </h4>

                        <p ng-bind="productDesc"></p>
                    </div>
                    <div class="ratings">
                        <b><p class="pull-right" >{{totalReviews}} Reviews</p></b>
                        <span class="stars">
                            <span ng-style="{ 'width': getStars(ReviewProducts) }"></span>
                        </span>
                        <b><p>{{averageRating()| number : 2}}</p></b>
                    </div>
                </div>

                <div class="text-right">
                    <!--<div ng-repeat="x in OrderDetails" ng-if="x.UserId==$root.globals.currentUser.userId">
                        {{x.UserId}}-->
                        <button ng-show="showReview" ng-click="leaveReview()" class="btn btn-success"><span class="glyphicon glyphicon-pencil"></span> Leave a review</button>
                    <!--{{showReview}}-->
                        <!--<button class="btn btn-success pull-left" ng-click="addToCart(productUrl,productName,productPrice)"><span class="glyphicon glyphicon-shopping-cart"></span>Add to Cart</button>-->
                    <!--</div>-->
                    <ngcart-addtocart class="pull-left" template-url="template/addtocart.html" id="{{productId}}" name="{{productName}}" price="{{productPrice}}" quantity="1" quantity-max="5">Add to Cart</ngcart-addtocart>
                </div>
                <hr>
                <div uib-collapse="isCollapsed">
                    <div uib-alert class="alert-success" dismiss-on-timeout="5000" close="closeAlert()" ng-if="show">Success Alert</div>

                    <div class="row" >
                        <div class="col-md-12">
                            <form accept-charset="UTF-8" ng-submit="sendReview()">
                                
                                <textarea ng-model="reviewDesc" class="form-control animated" cols="50" placeholder="Enter your review here..." rows="5"></textarea>

                                <div class="text-right">
                                    <span  uib-rating ng-model="rate" max="max" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" ></span>
                                    <span class="label" ng-class="{'label-warning': percent<60, 'label-info': percent>=60 && percent<=70, 'label-success': percent>=70}" ng-show="overStar && !isReadonly">{{percent}}%</span>
                                    <hr>
                                    <button class="btn btn-danger btn-sm">
                                        <span class="glyphicon glyphicon-remove"></span>Cancel
                                    </button>
                                    <button type="submit" class="btn btn-success btn-sm" >Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="well" ng-repeat="x in reviewData" ng-hide="writingReview">

                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <span class="stars">
                                
                                <span ng-style="{ 'width': '{{x.ratingReview*20}}%' }"></span>
                            </span>
                            <br class="text-right"><b>Rating: {{x.ratingReview}}</b></br>
                            <b>Username: {{x.User.username}}</b>
                            <b class="pull-right">Real Name: {{x.User.name +" "+ x.User.lastName}}</b><br />
                            <b><p>{{x.reviewDesc}}</p></b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<link href="../css/bootstrap.min.css" rel="stylesheet" />-->
    <!-- Custom CSS -->

    <link href="../css/shop-item.css" rel="stylesheet" />
    <!--<script src="../Scripts/route/productCtrl.js"></script>-->
</body>