<body ng-controller="productCtrl">
    <head><link href="../css/stars.css" rel="stylesheet" /></head>
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <p class="lead">Shop Name</p>
                <div class="list-group">
                    <a ng-href="#!category/{{x.CategoryId}}" class="list-group-item" ng-repeat="x in category | limitTo:30">{{x.categoryName}}</a>
                </div>
            </div>
            <div class="col-md-9">
                <div class="thumbnail">
                    <!--{{ejemplo}}
                    {{ejemplo.productUrl}}-->
                    <img  ng-src="{{productUrl}}" alt="{{productName}}" class="img-responsive">

                    <div class="caption-full">
                        <h4 class="pull-right" ng-bind="productPrice | currency"></h4>
                        <h4>
                            <h1 ng-bind="productName"></h1>
                        </h4>

                        <p ng-bind="productDesc"></p>
                    </div>
                    <div class="ratings">
                        <b><p class="pull-right" >{{totalReviews}} Reviews</p></b>
                        <span class="stars">
                            <span ng-style="{ 'width': getStars(ReviewProducts) }"></span>
                        </span>
                        <b><p>{{averageRating()}}</p></b>
                    </div>
                </div>

                <div class="text-right">
                    <button class="btn btn-success"><span class="glyphicon glyphicon-pencil"></span> Leave a review</button>
                    <!--<button class="btn btn-success pull-left" ng-click="addToCart(productUrl,productName,productPrice)"><span class="glyphicon glyphicon-shopping-cart"></span>Add to Cart</button>-->

                    <ngcart-addtocart class="pull-left" template-url="template/addtocart.html" id="{{productId}}" name="{{productName}}" price="{{productPrice}}" quantity="1" quantity-max="5">Add to Cart</ngcart-addtocart>
                </div>

                <div class="well" ng-repeat="x in reviewData">

                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <span class="stars">
                                <span ng-style="{ 'width': getStars(ReviewProducts) }"></span>
                            </span>
                            <b>Username: {{x.User.username}}</b>
                            <b class="pull-right">Real Name: {{x.User.name +" "+ x.User.lastName}}</b><br />
                            <p>{{x.reviewDesc}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<link href="../css/bootstrap.min.css" rel="stylesheet" />-->
    <!-- Custom CSS -->

    <link href="../css/shop-item.css" rel="stylesheet" />
    <!--<script src="../Scripts/route/productCtrl.js"></script>-->
</body>