<h1>Add User</h1>
<div	class="row">
  <div	class="col-md-6	well">
	  <form>
      <fieldset>
        <legend>User</legend>
        <div class="form-group">
          <label>Name: </label>
          <input class="form-control ng-untouched ng-pristine ng-valid" ngcontrol="name" type="text">
          <label>Email: </label>
          <input class="form-control ng-untouched ng-pristine ng-valid" ngcontrol="email" type="text">
          <label>Phone: </label>
          <input class="form-control ng-untouched ng-pristine ng-valid" ngcontrol="phone" type="text">
        </div>
        <legend>Address</legend>
        <div class="form-group">
          <label>Street: </label>
          <input class="form-control ng-untouched ng-pristine ng-valid" ngcontrol="street" type="text">
          <label>Suite: </label>
          <input class="form-control ng-untouched ng-pristine ng-valid" ngcontrol="suite" type="text">
          <label>City: </label>
          <input class="form-control ng-untouched ng-pristine ng-valid" ngcontrol="city" type="text">
          <label>Zip: </label>
          <input class="form-control ng-untouched ng-pristine ng-valid" ngcontrol="zip" type="text">
        </div>
        <button class="button btn-primary" type="submit">Save</button>
      </fieldset>

    </form>
	</div>
</div>
